@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

/* Provide smooth bg transition when toggling dark mode */
html {
  color-scheme: light dark;
}

body {
  transition: background-color 150ms ease, color 150ms ease;
}
